{% extends "base.html" %}

{% block title %}International Space Station{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{data.text|safe}}
        </div>
    </div>
</main><!-- /.container -->

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}